@charset "UTF-8";
@font-face {
    font-family: "Idroid";
    src: url(fontes/idroid.otf) format('opentype');
}

:root{
    --cor1: #84E1AD;
    --cor2: #3CD681;
    --cor3: #195634;
    --cor4: #298351;
    --cor5: #C5EBD6;

    --fonte-titulo:  system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --fonte-android: "Idroid";
}

body{
    background-color: var(--cor1);
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: justify;
}
header > h1, header > p{
    text-align: center;
    color: white;
    
}
header > h1{
    font-family: var(--fonte-titulo)
}
header{
    background-image: linear-gradient(to bottom, var(--cor2), var(--cor3));
    padding: 4px;
    margin: 0;
}
nav > a{
    margin-right: 1em;
    text-decoration: none;
    color: white;
    padding: 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
main{
    margin: 0px 150px;
    background-color: white;
    padding: 16px;
    box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.5);
}
main > p{
    line-height: 1.5em;
    font-size: 1.1em;
}
h1, h2{
    color: var(--cor4);
    font-family: var(--fonte-android);
}
h2{
    background-image: linear-gradient(to right, var(--cor1), white);
    text-indent: 5px;
}
img{
    margin: auto;
    display: block;
}
.resp{
    width: 100%;
}
#img-pq{
    max-width: 350px;
}
ul{
    display: inline-block;
    list-style-position: inside;
    list-style-type: '\2714';
}
li{
    text-decoration: underline;
}
abbr{
    text-decoration: none;
}
#lista1{
    margin-right: 250px;
}
#especial{
    background-color: var(--cor2);
    margin: 0px 0px 10px;
    border-radius: 10px 10px 0px 0px;
    padding: 4px;
    text-indent: 0;
    color: white;
}
div{
    border-radius: 10px;
    padding: 0px 0px 4px;
    background-color: var(--cor5);
}
div > p{
    text-indent: 2em;
    padding: 0px 8px;
}
p > a{
    text-decoration: none;
    color: var(--cor4);
    font-weight: bold;
}
.video{
    margin: 0px -20px 30px;
    padding: 20px;
    padding-bottom: 50%;
    position: relative;
}
.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}
p > a:hover{
    text-decoration: underline;
    color: var(--cor2);
}
nav > a:hover{
    text-decoration: underline;
}
footer{
    background-color: var(--cor3);
    text-align: center;
    color: lightgray
}
span{
    color: white;
}
iframe{
    max-width: 1500px;
    display: block;
    min-width: 325px;
    margin: 25px auto;
}