@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    /*height: 100%;*/
}

p {
    text-align: justify;
}

body{
    background-image: linear-gradient(to right,#0CABA8, #008F8C);
    background-attachment: fixed;
}
main{
    background-color: white;
    width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px #004b48dc;
    padding: 10px;
    margin: auto;
}
h1{
    color: orange;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(156, 102, 0, 0.918);
}
h2{
    color: rgb(255, 230, 0);
}